*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#111827);
    color:#fff;
}

.container{
    width:90%;
    max-width:500px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);
    border-radius:20px;
    padding:30px;
    box-shadow:0 15px 35px rgba(0,0,0,.35);
    text-align:center;
}

h1{
    margin-bottom:15px;
}

.description{
    color:#ddd;
    margin-bottom:25px;
}

.stats{
    display:flex;
    gap:15px;
    margin-bottom:25px;
}

.card{
    flex:1;
    padding:15px;
    border-radius:15px;
    background:rgba(255,255,255,.08);
}

.card span{
    display:block;
    margin-bottom:8px;
    color:#ddd;
}

.card h2{
    font-size:30px;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    font-size:20px;
    text-align:center;
    outline:none;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

#guessBtn{
    background:#2563eb;
    color:white;
}

#guessBtn:hover{
    background:#1d4ed8;
}

#restartBtn{
    margin-top:15px;
    background:#10b981;
    color:white;
}

#restartBtn:hover{
    background:#059669;
}

#message{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
    min-height:35px;
}

.correct{
    color:#22c55e;
}

.low{
    color:#f59e0b;
}

.high{
    color:#ef4444;
}

@media(max-width:500px){

.stats{
    flex-direction:column;
}

}
